* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

.cabecera img {
  height: 80px; }

.cabecera ul li a {
  font-size: 20px; }

.inicio h1 {
  font-size: 2.5rem;
  margin-left: 20px; }

.inicio p {
  font-size: 1.5rem; }

.inicio h2 {
  font-size: 2.5rem;
  margin-left: 20px; }

.novedades img {
  width: 450px;
  height: 300px;
  margin: 10px; }

.piesito img {
  width: 40px;
  height: 40px; }

.cabecera, .piesito {
  color: #ffff;
  background-color: #000;
  padding: 0; }

.cuerpo {
  background-color: #575757; }

.inicio h1 {
  color: #fff;
  text-shadow: solid #000 8px; }

.inicio p {
  color: #fff;
  text-shadow: solid #000 8px; }

.inicio h2 {
  color: #fff;
  text-shadow: solid #000 8px; }

.navegacion li a {
  color: #fff; }

#navbar ul li a {
  font-size: 20px; }
                                        /* <-----------2vinculo--------------> */


.nosotros {
    background-image: url(https://i.pinimg.com/originals/72/dc/33/72dc339da93a143ec1ed0d54143ecfea.jpg);
    height: 662px;
    display: flex;
    align-content: center;
}


.subtitulo2 h1 {
    color: #ffff;
    text-shadow: 0 0 8px #000;
    padding: 0 20px;
    font-size: 55px;

}

.subtitulo2 p {
    color: #ffff;
    text-shadow: 0 0 8px #000;
    padding: 0 20px;
    font-size: 40px;

}

.subtitulo3 {
    color: #ffff;
    text-shadow: 0 0 8px #000;
    padding: 0 20px;
    font-size: 40px;
}

/* <------------------3vinculo---------------------> */

.articulo {
    margin: 10px;
    padding: 10px;

}

.container-fluid2 {
    background-color: #575757;
}

.fila {
    margin: 28px;
    justify-content: space-evenly;
    align-content: space-around;
}

.precio {
    font-size: 18px;
}

/* -------------------4vinculo------------------------------ */
.img__ayuda {
    width: 700px;
    height: 400px;
    margin: 10px;
}

.subtitulo{
    color: #fff;
  text-shadow: 0 0 8px #000;
  font-size: 20px;
}


/* ---------------------------------------5vinvulo--------------------------------------- */
.caja {
    background-color: #ff8836;
    margin: 30px;
    border-radius: 6px;
    font-size: 20px;
    position: relative;
    left: 0%;

}

.botoncito {
    padding: 10px 30px;
    border-radius: 50px;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
    position: relative;
    left: 23%;
    bottom: 4%;
    margin: 5px 0;
}

.botoncito:hover {
    letter-spacing: 3px;
    background-color: #ff8836;
    color: hsl(0, 0%, 100%);
    box-shadow: #000 0px 7px 29px 0px;
}

.botoncito:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}

.logo__footer {
    width: 40px;
    height: 40px;
}

/* -------------------------------------------------------------MEDIA------------------------------------------------------------------------- */

@media screen and (max-width: 768px) {
    .subtitulo p {
        font-size: 1rem;
    }

    .subtitulo2 h1 {
        font-size: 2rem;
    }

    .subtitulo2 p {
        font-size: 1.3rem;
    }

    .subtitulo3 {
        color: #ffff;
        text-shadow: 0 0 8px #000;
        padding: 0 20px;
        font-size: 35px;
    }
}