$color-predominante:#000;
$color-titulos:#fff;
$fondo-pagina:#575757;



.cabecera, .piesito{
    color: #ffff;
    background-color: #000;
    padding: 0;
}
.cuerpo{
    background-color:$fondo-pagina;
}

.inicio{
    h1{ 
    color:$color-titulos;
    text-shadow: solid #000 8px;
    }
    p{
        color: #fff;
        text-shadow: solid #000 8px;
    }
    h2{
        color:$color-titulos;
        text-shadow: solid #000 8px;
    }
}
.navegacion{
    li{
        a{
            color: #fff;
        }
    }
}
#navbar{
    ul{
        li{
            a{
                font-size: 20px;
            }
        }
    }
}

